<!-- /modal -->
<div class="modal fade container-fluid" tabindex="-1" role="dialog" id="formModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #025aa5; color: #ffffff;">
                <button type="button" class="close" data-dismiss="modal" style="color:#ffffff;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Authentification</h4>
            </div>
            <div class="modal-body">
                <form id="authenticationForm">
                    <div class="row" >
                        <div class="col-xs-12 col-lg-6" style="padding: 15px;">
                            <input class="form-control" type="text"  id="mail" placeholder="Adresse mail" data-toggle="tooltip" data-placement="top" title="Adresse mail AXA Tech"/>
                        </div>
                        <div class="col-xs-12 col-lg-6" style="padding: 15px;">
                            <input class="form-control" type="text"  id="pwd" placeholder="Mot de passe" data-toggle="tooltip" data-placement="top" title="Contacter l'administrateur pour avoir votre mot de passe"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 col-lg-6">
                        <button type="button" class="btn btn-default" style="float: right;"data-dismiss="modal">Annuler</button>
                    </div>
                    <div class="col-xs-6 col-lg-6">
                        <button type="button" class="btn btn-primary" style="float: left;">Valider</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>